body {
}
p {
    font-weight: bold;
    text-align: right;
    font-family: Arial;
    font-size: 2.5em;
}

.overflow {
    overflow: scroll;
}

.inform {
    color: #ea7c6b;
    position: absolute;
    background-color: white;
    z-index: 15;
    background-repeat: no-repeat;
    border: outset 4px;
    padding: 1vw;
    margin-left: 20%;
    width: 61%;
    background-image: url('img ice/backgroundIn.png');
}

.btn {
    left: 24vw;
    position: relative;
    top: -4vh;
}
